.vscode/
# Treat all .i files as C++ instead of SWIG
*.i linguist-language=C++

# Or, if you want to ignore a specific folder from the stats:
folder_name/* linguist-documentation

# Build artifacts
*.out
*.exe
*.o
*.dSYM/
